p{
    text-align: center;
}
.margin{
    padding: 22.6% 0%;
}
.margin-1{
    padding: 0% 0%;
  
}
.gallary{
   
    padding:33.6% 0%;
    border: 10px solid white;
    border-top:0px ;
    
  
}
.title-buy{
    
    border-right: 10px solid white;
    
}
.title{
    
    padding: 5%;
    border-bottom: 10px solid white;
    
}
.buy-box{

    padding: 24.9% 0px;
    
}

.description{
    
     border: 10px solid white;
     border-top: 0px;
     padding: 3.4% 0px;
   
}
.related{
    border: 10px solid white;
    border-top: 0px;
    border-bottom: 0px;
   padding: 3% 0px;
}
@media(max-width:1200px){
       .title-buy{
           border-left: 10px solid white ;
       }
       .buy-box{
           border-bottom: 10px solid white;
       }
       .margin{
           border: 10px solid white;
          /* border-top:0px;
          padding-top:50%  ;*/
       }
       .bottom{
           border-top: 0px;
       }
      
       
}
    
   

@media(max-width:600px){
    .margin{
        border: 10px solid white;
        /* border-top:0px; */
       padding-top:25%  ;
    }
}
